@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap');
@import 'tailwindcss';


@font-face {
  font-family: 'Oceanwide';
  src: url(/assets/fonts/Oceanwide-SemiBold.otf) format('opentype');
  font-weight: 100 900;
  font-style: semi-bold;
}

:root {
  /* Text colors */
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme{
  /* Colors from :root */
  --color-text: #CFCFCF;
  --color-text-h: #FFFFFF;
  --color-text-muted: rgba(156, 145, 175, 0.7);
  --color-bg: #0D0D0F;
  --color-border: #2B2B2D;
  --color-code-bg: #1A1A1C;
  --color-accent: #6C63FF;
  --color-accent-bg: rgba(108, 99, 255, 0.1);
  --color-accent-border: rgba(108, 99, 255, 0.5);
  --color-primary-pink-transparent: rgba(255, 79, 160, 0.3);
  --color-primary-pink: rgba(255, 79, 160, 1);
  --color-dark-pink: #ce4085;
  --color-logo-pink: #E94F9E;
  --color-social-bg: rgba(244, 243, 236, 0.5);

  /* Fonts from :root */
  --font-sans: 'Manrope', system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-heading: 'Manrope', system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
  --font-description: 'Sora', system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-logo: 'Oceanwide', system-ui, 'Segoe UI', Roboto, sans-serif;

  /* Existing gradient colors */
  --color-gradient-purple: rgba(166, 76, 201, 1);
  --color-gradient-purple-faded: rgba(166, 76, 201, 0.75);
  --color-gradient-pink: rgba(255, 79, 160, 0.9); 
  --color-gradient-yellow: rgba(255, 209, 102, 0.93);
  --color-gradient-purple-transparent: rgba(166, 76, 201, 0.4);
  --color-purple-CTA-bg: rgba(186, 95, 220, 0.2);

  /* BG color for the how it works section*/
  --color-how-it-works-bg: #fd7fc3;
}


@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

}
.parent:hover .child {
  opacity:1;
  height:auto;
  overflow:visible;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.child {
  opacity:0;
  height:0;
  overflow:hidden;
  transform: translateY(-10%);
}

html{
  scroll-behavior: smooth;
  background-color: var(--color-bg);
}